library-api/HELP.md
library-api/target/
!library-api/.mvn/wrapper/maven-wrapper.jar
!library-api/**/src/main/**/target/
!library-api/**/src/test/**/target/

### STS ###
library-api/.apt_generated
library-api/.classpath
library-api/.factorypath
library-api/.project
library-api/.settings
library-api/.springBeans
library-api/.sts4-cache

### IntelliJ IDEA ###
library-api/.idea
library-api/*.iws
library-api/*.iml
library-api/*.ipr

### NetBeans ###
library-api/nbproject/private/
library-api/nbbuild/
library-api/dist/
library-api/nbdist/
library-api/.nb-gradle/
library-api/build/
!library-api/**/src/main/**/build/
!library-api/**/src/test/**/build/

### VS Code ###
library-api/.vscode/
.vscode